*{
    margin: 0px;
    border: 0px;
    background-color: black;
    color: white;
}
input{
    width: 70%;
    text-align: center;
    padding: 10px;
    height: 25px;
    margin: 40px;
    border: 2px solid gray;
    font-size: 24px;
    border-radius:10px ;
}
button{
    width: 150px;
    height: 50px;
    margin: 0 auto;
    vertical-align: middle;
    border-radius:15px ;
    font-size: 20px;
    background-color: rgb(65, 65, 150);
}
.container{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 0px;
}
.images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 5px;
}